<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>ClubbingOwl | Venue Management and Marketing Software</title>
  <meta name="description" content="ClubbingOwl Venue Management & Marketing System allows you to manage your clientelle database, VIP reservations, floorplan-layouts, email marketing campaigns, promotional staff and much more by leveraging the power of the Facebook API!">
  <meta name="keywords" content="nightclub management system, lounge management system, bar management system, facebook application, clubbing facebook application, restaura nt management, venue management, venue management software, POS, venue management services, club software, club management softare, management software, clubbing, owl, clubbing owl, clubs, venues, guestlists, guest-lists, guest lists, night life, nightlife, promoters" />
  
  
  <meta property="og:image" content="/images/co_logo_whitev2.png"/>
  <meta property="og:image" content="/images/ClubbingOwl_COlogo_purple.png"/>


  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS Style -->
  <link rel="stylesheet" href="/css/style.css"> 

  <!-- Color Skins -->
  <link rel="stylesheet" href="/css/skins/purple.css" name="skins"> 

  
  <!-- Layout Style -->
  <link rel="stylesheet" href="/css/layout/wide.css" name="layout"> 
  
  
  <!-- Small Icons -->
  <link rel="stylesheet" href="/css/icons.css">  
  
  <link rel="shortcut icon" href="/images/favicon.ico">  

<% if(true){ %>
	<script data-main="/js/app" src="/js/libs/require.js"></script>
<% }else{ %>
	<script src="/js/app-built2.js"></script>
<% } %>
  <!-- Favicons -->
	  <link rel="shortcut icon" href="/images/favicon/favicon.ico">


  <% if(false){ %>
  
	  <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
  
  <% } %>

</head>
<body class="diagmonds">
	<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '236258849725316', // App ID from the App Dashboard
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    // Additional initialization code such as adding Event Listeners goes here

  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>

  <div id="wrap" class="boxed">

  <header>
    <div class="container clearfix">
    
      <div class="one-third column">
        <div class="logo">

        <a href="/">
          <img src="/images/co_logo_whitev2.png" alt="ClubbingOwl" />
        </a>
        
        </div>
      </div><!-- End Logo -->
      
      
      
       <div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav">
            <li><a href="/features">Features</a>
            </li>
            <li><a href="/faq">FAQ</a>
            </li>
            <li><a href="/about">About Us</a>
            </li>
            <li><a href="/blog">Blog</a>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          
        </nav>
      </div><!-- End Menu -->
      
      <div class="sixteen columns">
      	<p style="top:-20px; position:relative;">Venue Management and Marketing Software of&nbsp;<a href="https://www.clubbingowl.com/">ClubbingOwl.com</a> </p>
      </div>
      
      <div class="sixteen columns"><hr /></div>
      
    </div><!-- End Container -->
  </header><!-- <<< End Header >>> -->
  
  <div data-role="main">
