<div class="container clearfix">

  <div class="sixteen columns top bottom">
   
     <!-- ==================== Single Post ==================== -->
     <div class="post gallery bottom">
     
        <h2 class="title top-2 bottom-2"><%= title %><span class="line"></span></h2>
        <!-- Title Post -->
        
       <div class="post-meta bottom-2 transparent">
        <div class="meta"><span class="history  icon gray"></span> On <%= date %> </div><!-- Date -->
        <div class="meta"><span class="user icon gray"></span> By : <%= author %> </div><!-- Author -->
      </div><!-- End post-meta -->
       
      
      <div class="post-content bottom">
      	
      	<p style="font-size:16px;"><%- html %></p>
      	
      </div>
      
      
     </div> 
     <!-- ==================== End single post  ==================== -->
           
   </div><!-- End column -->  

</div><!-- <<< End Container >>> -->
