<div class="container clearfix">
  
    <div class="sixteen columns"> <h1 class="page-title">About Us <span class="line"></span></h1> </div> <!-- Page Title -->
  
    <div id="description">
      <div class="sixteen columns">
        <div class="description">
        <p>
          Our team members hail from all over the world. Europe, America, Asia and the Middle East. We pool our knowledge to give you the most advanced night club / venue management system.
        </p>
        </div>
      </div>
    </div><!-- End description -->
    
    <div class="clearfix"></div>
  
    <div class="meet-team">
      <div class="sixteen columns">
        <h2 class="title">Meet The Team <span class="line"></span></h2>
        <p>
          
        </p>
        </div>
        
        <div class="clearfix"></div>
        
        <ul class="team">
          
          <!-- item 1 -->
          <li class="one-third column">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Casey Flynn
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Sed at odio ut arcu fringilla dictum  magna nisi.Aliquam at erat in purus  velit vel dolo dictum  magna nisi.Aliquam 
              at erat in purus  velit vel dolo 
            </p>
          </li>
          <!-- End -->
          
          <!-- item 2 -->
          <li class="one-third column">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Johann Barlach
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Sed at odio ut arcu fringilla dictum  magna nisi.Aliquam at erat in purus  velit vel dolo dictum  magna nisi.Aliquam 
              at erat in purus  velit vel dolo 
            </p>
          </li>
          <!-- End -->
          
          <!-- item 3 -->
          <li class="one-third column">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Yvonne Tnt
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Sed at odio ut arcu fringilla dictum  magna nisi.Aliquam at erat in purus  velit vel dolo dictum  magna nisi.Aliquam 
              at erat in purus  velit vel dolo 
            </p>
          </li>
          <!-- End -->
          
          <!-- item 4 -->
          <li class="one-third column">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Calais Kraichoke
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Sed at odio ut arcu fringilla dictum  magna nisi.Aliquam at erat in purus  velit vel dolo dictum  magna nisi.Aliquam 
              at erat in purus  velit vel dolo 
            </p>
          </li>
          <!-- End -->
          
        </ul><!-- End team -->
        
    </div><!-- End meet team -->
     
  </div><!-- <<< End Container >>> -->
